<section class="container d-none d-md-block">
    <div class="position-relative">
        <img src="assets/Sub-service-Pages/policy 1 1.png" class="w-100 h-auto d-block" />
        <div class="text-over-img">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Newsroom
                    </li>
                </ol>
            </nav>
            <h3 class="font-48-30 text-primary pt-3">Newsroom</h3>
            <p class="card-text font-20-16 pt-3">
                Discover What’s New At FBSPL. Stay updated on trending events, latest news, <br/> press releases, and more. 
                  </p>
        </div>
    </div>
</section>
<!-- Mobile View -->
<section class="container text-dark slide d-block d-md-none pt-5">
    <div class="position-relative d-flex justify-content-center">
        <img src="assets/Sub-service-Pages/mobi vew banner copy 1.png" class="card-img-mob" alt="Policy" />
        <div class="card-img-overlay overlay-text-Mob">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Newsroom
                    </li>
                </ol>
            </nav>
            <h3 class="font-48-30 text-primary">Newsroom</h3>
        </div>
    </div>
</section>

<main class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-8">
            <article>
                <p class="font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <h1 class="font-40 mb-4 pt-5">What is Lorem Ipsum? </h1>
                <p class="font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div>
                    <img src="assets/news/Image.png" class="img-fluid" alt="Responsive image">
                </div>
                <p class="pt-3 font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <h1 class="font-40 mb-4 pt-5">What is Lorem Ipsum? </h1>
                <p class="font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div>
                <ngx-slick-carousel
    class="carousel blog_slider"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div class="container" ngxSlickItem *ngFor="let slides of Featuredslides">
      <div class="row">
        <div class="col-12 col-md-12 my-3">
            <img src="{{slides.img}}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
                </div>
                <p class="pt-3 font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <h1 class="font-40 mb-4 pt-5">What is Lorem Ipsum? </h1>
                <p class="font-20-16">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </article>
        </div>
        <aside class="col-12 col-md-4 mb-3">
            <div class="sticky-aside" id="blog-aside">
                <div>
                    <p class="text-primary font-34 my-3">Share</p>
                    <!-- <div class="subscribe-container">
                        <input type="text" placeholder="Enter your email address" id="subscribe-input" />
                        <button type="submit" id="subscribe-button">GO</button>
                    </div> -->
                </div>
                <div>
                    <p class="text-primary font-34 blue-border my-3">Industry Tag</p>
                    <p class="font-34-19 mb-4 mb-3">What is Lorem Ipsum? </p>
                    
                </div>
                <div>
                    <p class="text-primary font-34 blue-border my-3">Subject Tag</p>
                    <div class="d-flex">
                        <div class="tag-card">
                            <span># Lorum ipsum</span>
                        </div>
                        <div class="tag-card">
                            <span># Lorum ipsum</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="tag-card">
                            <span># Lorum ipsum</span>
                        </div>
                        <div class="tag-card">
                            <span># Lorum ipsum</span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>
