.w-90 {
  width: 90%;
}
.center-right-float {
  position: absolute;
  top: 9%;
  right: 0;
  height: 5.5rem;
}
.img-fluid {
  max-height: 400px;
}
.left-bottom-float {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5rem !important;
}
.tech-section {
  position: relative;
  background-image: url("https://d1585q1wairh36.cloudfront.net/assets/Icon/circle-vector.png");
  background-repeat: no-repeat;
  background-position: center right -12%;
  background-size: 25%;
}

@media (max-width: 768px) {
  .center-right-float {
    height: 4rem;
    top: 6%;
  }
  .tech-section {
    background-position: center right -90%;
    background-size: 70%;
  }
  .w-90 {
    width: 100%;
  }
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  .clickable-heading {
    color: var(--secondary) !important;
    .blueCTA {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--secondary);
      border: var(--secondary);
      background-image: url("https://d1585q1wairh36.cloudfront.net/assets/Icon/white-vector.svg");
    }
  }
  .alert-message {
    display: block;
  }
}
