<section class="container py-5">
  <h2 class="text-primary font-48-30 mb-4">Tools That Drive Excellence</h2>
  <div class="d-none d-md-flex">
    <div class="row">
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/agencymatrix.svg"
          alt="Agency Matrix"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/hawksoft.svg"
          alt="HawkSoft"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/PLRating.svg"
          alt="Vertafore PL Rating"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/QQCatalyst.svg"
          alt="QQCatalyst"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/AMS360.svg"
          alt="AMS360"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/ezlynx.svg"
          alt="EZLynx"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/csr24.svg"
          alt="CSR24"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/nowcert.svg"
          alt="NowCerts "
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/powerbroker.svg"
          alt="PowerBroker"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/agencymatrix.svg"
          alt="Agency Matrix"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/employee.svg"
          alt="Employee Navigator"
        />
      </div>
      <div class="col-2">
        <img
          class="img-fluid"
          appCdnUrl="assets/services/Tools/indio.svg"
          alt="Indio"
        />
      </div>
    </div>
  </div>
  <div class="d-flex d-md-none">
    <div class="trusted-slider-logo">
      <div class="trusted-slide-track">
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/agencymatrix.svg"
            alt="Agency Matrix"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/hawksoft.svg"
            alt="HawkSoft"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/PLRating.svg"
            alt="Vertafore PL Rating"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/QQCatalyst.svg"
            alt="QQCatalyst"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/AMS360.svg"
            alt="AMS360"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/ezlynx.svg"
            alt="EZLynx"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/csr24.svg"
            alt="CSR24"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/nowcert.svg"
            alt="NowCerts "
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/powerbroker.svg"
            alt="PowerBroker"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/agencymatrix.svg"
            alt="Agency Matrix"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/employee.svg"
            alt="Employee Navigator"
          />
        </div>
        <div class="trust-slide">
          <img
            class="img-fluid"
            appCdnUrl="assets/services/Tools/indio.svg"
            alt="Indio"
          />
        </div>
      </div>
    </div>
  </div>
</section>
