<section class="py-6 bg-secondary-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
       
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="headingCTA">
          <h3 class="CTAs font-48-30">Experience the difference</h3>
          <button class="blueCTA"></button>
        </div>
        <p>Let’s start your tomorrow’s progress today</p>
        <div class="btn-wrapper">
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Accounting & Bookkeeping</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Insurance</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Recruitment</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">E-commerce</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Data Annotations</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Customer Support</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Insurance Agency Optimization</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Software Development</a>
          </button>
          <button class="blueBtn">
            <a routerLink="/" class="font-20-16">Digital Marketing</a>
          </button>
          <button class="blueBtn blueFillBtn">
            <a routerLink="/" class="font-20-16">Reach Out</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
