<div class="container d-none d-lg-block">
  <div class="position-relative">
    <img
       appCdnUrl="assets/Sub-service-Pages/policy 1 1.png"
      class="w-100"
    />
    <div class="text-over-img">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">GDPR</li>
        </ol>
      </nav>
      <h3 class="font-48-30 text-primary fw-500 pt-3">GDPR</h3>
    </div>
  </div>
</div>
<div class="container text-dark slide d-block d-lg-none pt-5">
  <div class="position-relative d-flex justify-content-center">
    <img
       appCdnUrl="assets/Sub-service-Pages/mobi vew banner copy 1.png"
      class="card-img-mob"
      alt="Policy"
    />
    <div class="overlay-text-Mob">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">GDPR</li>
        </ol>
      </nav>
      <h3 class="font-48-30 text-primary fw-500 pt-3">GDPR</h3>
    </div>
  </div>
</div>

<section class="container py-6">
  <div class="accordion" id="accordionGDPR">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button font-28-20"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Industries"
          aria-expanded="true"
          aria-controls="Industries"
        >
          Why GDPR?
        </button>
      </h2>
      <div
        id="Industries"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          Our clientele is based in multiple jurisdictions worldwide. To ensure
          flawless services, we have adopted the GDPR requirements to comply
          with the changes and provide a better user experience. We believe
          these new rules are better for our community.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button font-28-20 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Services"
          aria-expanded="false"
          aria-controls="Services"
        >
          Right of Access
        </button>
      </h2>
      <div
        id="Services"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          To keep our customers' interests safe, we give our customers the right
          to request access to their personal information and get a copy of it.
          To know what information we hold, you can simply email us at
          <a
            href="mailto:info@fbspl.com"
            class="text-primary text-decoration-underline"
            >info&#64;fbspl.com</a
          >
          . We will send you a copy of the details (Name, email, Phone, company
          name, Title, etc.) free of cost.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button font-28-20 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#About"
          aria-expanded="false"
          aria-controls="About"
        >
          Right of Correction
        </button>
      </h2>
      <div
        id="About"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          You can anytime request us to correct any incomplete or missing or may
          request to update the information we have for you by sending an email
          to
          <a
            href="mailto:info@fbspl.com"
            class="text-primary text-decoration-underline"
            >info&#64;fbspl.com</a
          >
          with the relevant information. However, at our discretion, we may
          delete, correct, or remove incorrect data anytime for a better user
          experience.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button font-28-20 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Resources"
          aria-expanded="false"
          aria-controls="Resources"
        >
          Right of Removal
        </button>
      </h2>
      <div
        id="Resources"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          As per our Privacy Policy, once the client ends the services, we
          remove all the relevant data shared by the client unless there is no
          overriding legitimate interest. The only data we hold will be the
          client's Company name and contact details for future reference. Such
          withdrawal of consent will be made by sending an email to
          <a
            href="mailto:info@fbspl.com"
            class="text-primary text-decoration-underline"
            >info&#64;fbspl.com</a
          >
          with your relevant details.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button font-28-20 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Business"
          aria-expanded="false"
          aria-controls="Business"
        >
          Right of Data Portability
        </button>
      </h2>
      <div
        id="Business"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          All our users have the right to demand personal information in a
          commonly used, structured e-format anytime. You can make such requests
          by contacting the assigned Account Manager or emailing
          <a
            href="mailto:info@fbspl.com"
            class="text-primary text-decoration-underline"
            >info&#64;fbspl.com</a
          >.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button font-28-20 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Retention"
          aria-expanded="false"
          aria-controls="Retention"
        >
          Data Retention
        </button>
      </h2>
      <div
        id="Retention"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#accordionGDPR"
      >
        <div class="accordion-body">
          <p>
            We will retain your personal information as long as it is necessary
            to carry out its processing activities during the contract period.
            We follow the retention policy of removing personal details 30 days
            after the last service date.
          </p>
          <p>
            Please note that FBSPL will only keep your information for the
            duration mentioned above to comply with legal obligations, resolve
            disputes, and enforce our agreement.
          </p>
          <p>
            However, some of the information gathered about you may come from
            public sources on the web, such as other platforms. This information
            could also be collected by our partners or other third parties.
          </p>
          <p>
            Thus, we suggest you review the information about you that is
            publicly available on other platforms and ensure only the details
            you have chosen are visible.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
